*{
	font-size: 30px;;
}
#baner{
	width: 100%;
	height:150px;
	text-align: center;
	background-color: #FFDEAD;
	font-size: 300%;
	padding-top: 50px;
}
 #prawy, #lewy{
	height: 800px;
	float:left;
}
#lewy{
	width:20%;
	background-color: #F5DEB3;
}
#glowny{
	width: 60%;
	background-color: #FFEBCD;
	float: left;
	height:800px;
	text-align: center;
}
#prawy{
	width:20%;
	background-color: #F5DEB3;
}
h2{
	text-align: center;
}
.przycisk{
	background-color: rgba(	255 ,248 ,220, 0.5);
	height: 5%;
	padding:10px;
	border-radius:30px;
	margin:30px;
	text-align: center;
	font-size: 20px;
	width: 70%;
	padding-top: 5%;
	transition: all 0.5s ease;
	text-decoration: none;
	margin-left: 45px;
	margin-top: 50px;

}
.przycisk:hover{
	box-shadow: 0px 0px 10px ;
	background-color: rgba(135 ,206 ,250, 0.2);
}
a .przycisk{
	text-decoration: none;
	color:black;
}
a{
	text-decoration: none;
}
img{
	width:300px;
	margin-top: 70px;
	border-radius: 10px;
	float: left;
	margin-left: 40px;
}
#tablica{
	width: 350px;
	margin-top: 247px;
}
#pilka{
	width: 22%;

}
#kosz{
	margin-left: 40px;
}
#set{
	width: 350px;
	float:left;
	margin-top: 247px;
}
#bramka{
	width:350px;
	margin-top: 247px;
	margin-left: 30px;
}
#koszulki{
	width: 350px;
	margin-top: 247px;
	margin-left: 30px;
}
#mecz{
	width: 350px;
	margin-top: 187px;
	margin-left: 30px;
}
#pilka2{
	margin-top: 80px;
	margin-left: 30px;
}
#rowerdroga{
	margin-top: 116px;
}
#rowersnieg{
	margin-left: 100px;
	margin-top: 150px;
}
#rowerraba{
	margin-top: 150px;
}
#rowerchelm{
	margin-top: 150px;
}
#kosciol, #rynek, #rynek2{
	margin-top: 100px;
	margin-left: 100px;
}
#rynek{
	margin-left: 220px;
}
#skatepark{
	width: 700px;
	margin-left: 420px;
	margin-top: 100px;
}
#galeria{
	width:550px;
	margin-top: 125px;
	margin-left: 250px;
}
#galeria2{
	width:300px;
	margin-left: 100px;
	margin-top: 7px;
}
#chelm, #snieg, #flow{
	margin-top: 60px;
	margin-left: 80px;
	width: 350px;
}
#chelm{
	margin-left: 160px;
}
#cs{
	width: 400px;
	margin-top: 207px;
}
#fifa, #nba{
	width: 350px;
	margin-top: 40px;
}
#nba {
	margin-left: 180px;
}